.cart
	&__list
		margin: 0
		padding: 0

	&__item
		&:not(:last-child)
			margin-bottom: 0

.item-cart
	display: flex
	flex-wrap: wrap
	align-items: baseline
	padding: 10px 0
	border-bottom: 1px solid #F1F3F4

	@media screen and (max-width: 768px)
		flex-direction: column

	&__title
		width: 100%
		margin-top: 0
		margin-bottom: 0.3em

	&__price
		margin-left: 12px
		@media screen and (max-width: 768px)
			margin: 15px 0

	&__button
		margin-left: auto

		@media screen and (max-width: 768px)
			margin-left: 0