.login-form
	&__field
		position: relative
		padding-bottom: 20px
		margin-bottom: 7px

	&__input
		display: block
		width: 100%
		border: 1px solid #d4d4d4
		padding: 10px 15px
		font-family: "Montserrat", sans-serif
		font-size: 14px
		
	&__message
		position: absolute
		bottom: 0
		left: 0
		right: 0
		margin: 0
		font-size: 12px
		color: red