.button
	padding: 0
	border: 0
	height: 40px
	padding: 0 30px
	border-radius: 0
	color: #000000
	background: #F1F3F4
	font-family: "Montserrat", sans-serif
	font-size: 14px
	cursor: pointer
	transition: .3s ease-out

	&:hover
		background: #e4e4e4

	&:disabled
		cursor: not-allowed
		opacity: 0.8
