.product
	&__image
		img
			max-width: 100%
			display: block
			height: auto

	&__title
		font-size: 24px
		margin-top: 0.4em
		margin-bottom: 0.4em

		@media screen and (max-width: 575px)
			font-size: 20px

		small
			font-size: 0.7em

	&__price
		margin: .5em 0 2em
		font-size: 15px
		font-weight: 500