.products
	&__list
		list-style-type: none
		margin: 0 -15px
		padding: 0
		display: flex
		flex-wrap: wrap

	&__item
		margin: 0 15px 30px
		width: calc(50% - 30px)

		@media screen and (max-width: 575px)
			width: 100%