.header
	background: #F1F3F4
	margin-bottom: 20px

	&__container
		max-width: 900px
		margin-left: auto
		margin-right: auto
		padding: 10px 15px
		display: flex
		align-items: center

	&__right-side
		margin-left: auto
		display: flex
		align-items: center

		& > *
			&:not(:last-child)
				margin-right: 15px

				@media screen and (max-width: 400px)
						margin-right: 10px

	&__cart-link
		color: #000000
		font-size: 14px

	&__username
		font-size: 14px

	&__logout-btn
		border: 0
		padding: 0 10px
		height: 25px
		background: #d4d4d4
		color: #000
		font-size: 13px
		transition: .3s ease

		&:hover
			cursor: pointer	
			background: #b1b1b1

.logo
	text-decoration: none
	font-size: 20px
	font-weight: 500
	color: #000